<h1>{{ form.value.id ? 'Edycja pilota' : 'Dodawanie pilota' }}
</h1>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="control-group">
    <label class="control-label">Podgląd:</label>
    <img [src]="form.value.imageUrl">
  </div>
  <div class="control-group">
    <label class="control-label">Imię:</label>
    <input type="text" formControlName="firstName">
  </div>
  <span *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched" class="error">
    podaj wartość
  </span>
  <span *ngIf="form.controls.firstName.hasError('pilotName')" class="error">
    zacznij wielką literą
  </span>
  <div class="control-group">
    <label class="control-label">Nazwisko:</label>
    <input type="text" formControlName="lastName">
  </div>
  <span *ngIf="form.controls.lastName.hasError('required') && form.controls.lastName.touched" class="error">
    podaj wartość
  </span>
  <span *ngIf="form.controls.lastName.hasError('pilotForbidden')" class="error">
    zakazane nazwisko
  </span>
  <div class="control-group">
    <label class="control-label">Avatar URL:</label>
    <input type="text" formControlName="imageUrl">
  </div>
  <button type="submit" [disabled]="form.invalid">Zapisz</button>
  <button type="button" routerLink="../..">Anuluj</button>
</form>
